@import http://fonts.googleapis.com/css?family=Raleway;
@import url('//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css');

span {
color:red
}
h2 {
background-color:#EDEEFF;
align-self: center;
text-align:center;
border-radius:10px 10px 0 0;
margin:-10px -40px;
padding:15px
}
hr {
border:0;
border-bottom:1px solid #ccc;
margin:10px -40px;
margin-bottom:30px
}

input[type=text],input[type=password] {
width:99.5%;
padding:10px;
margin-top:8px;
border:1px solid #ccc;
padding-left:5px;
font-size:16px;
font-family:raleway
}
#login input[type=submit] {
width:100%;
background-color:#00BCFF;
color:#fff;
border:2px solid #0000FF;
padding:10px;
font-size:20px;
cursor:pointer;
border-radius:5px;
margin-bottom:15px
}
#profile {
padding:50px;
border:1px dashed grey;
font-size:20px;
background-color:#DCE6F7
}
#logout {
float:right;
padding:5px;
border:dashed 1px gray
}
a {
text-decoration:none;
color:#6495ed
}
i {
color:#6495ed
}
.pull-bottom {
    display: inline-block;
    margin-left: 50px;
    vertical-align: bottom;
    float: none;
}
.pull-right {
    float: right;
}
.ui-datepicker{
    background: #cfcfcf;
}
